# 1번 : 리스트의 삭제

In [5]:
nums=[100,200,300,400,500]
#nums[:3]도 가능
#nums.pop() 2번 사용
nums.remove(400)
nums.remove(500)
nums

[100, 200, 300]

# 2번 : 리스트의 내장함수

In [8]:
l=[200,100,300]
l.insert(2,10000) #insert(위치, 넣을 것)
print(l)

[200, 100, 10000, 300]

# 3번 : 변수의 타입

In [9]:
3

3

# 4번 : 변수의 타입2

In [11]:
3 #str으로 나와야됨

3

# 5번 : for문 계산

In [12]:
4

4

# 6번 : False

In [14]:
2

2

In [16]:
print(bool(" "))
print(bool(""))
print(bool(["",""]))
print(bool([]))
print(bool(None))

True
False
True
False
False

# 7번 : 변수명

In [15]:
3,5 #언더바만으로도 변수명 사용 가능, as는 예약어라 사용불가능

(4, 5)

# 8번 : 딕셔너리 키 이름 중복

In [18]:
78

78

# 9번 : sep과 end를 활용한 출력방법

In [23]:
year='2019'
month='04'
day='26'
hour='11'
minute='34'
second='27'

print(year,month,day,end=' ',sep='/')
print(hour,minute,second,sep=':')

2019/04/26 11:34:27

# 10번 : 별 찍기

In [53]:
input2=int(input('숫자:'))

숫자:5

In [54]:
for i in range(input2):
    b=' '*(4-i)
    a='*'*(2*i+1)
    print(b,a)

     *
    ***
   *****
  *******
 *********

# 11번 : for문을 이용한 기본 활용

In [86]:
s=0
for i in range(1,101):
    s+=i
print(s)

5050

# 12번 : 게임 캐릭터 클래스 만들기

In [72]:
class Widzard:
    def __init__(self,health, mana, armor):
        self.health=health
        self.mana=mana
        self.armor=armor
    def attack(self):
        print('파이어볼')

x=Widzard(health=545,mana=210,armor=10)
print(x.health,x.mana,x.armor)
x.attack()

545 210 10
파이어볼

# 13번 : 몇번째 행성인가요?

In [75]:
a={'1':'수성','2':'금성','3':'지구','4':'화성','5':'목성','6':'토성','7':'천왕성','8':'해왕성'}
print(a)

{'1': '수성', '2': '금성', '3': '지구', '4': '화성', '5': '목성', '6': '토성', '7': '천왕성', '8': '해왕성'}

# 14번 : 3의 배수인가요?

In [88]:
try:
    n=int(input('숫자:'))
    if n%3==0 :
        print('짝')
    else:
        print(n)
except:
    print('숫자를 입력해주세요')

숫자:16
16

# 15번 : 자기소개

In [90]:
s=input('이름 : ')

이름 : 하윤지

In [91]:
print('안녕하세요. 저는 %s 입니다'%s)
print('안녕하세요. 저는 {}입니다'.format(s))
print(f'안녕하세요. 저는 {s}입니다')

안녕하세요. 저는 하윤지 입니다
안녕하세요. 저는 하윤지입니다
안녕하세요. 저는 하윤지입니다

# 16번 : 로꾸거

In [101]:
s2=input('문자:')
new=''
for i in range(0,-len(s2),-1):
    new+=s2[i]
print(new)

문자:거꾸로
거로꾸

# 17번 : 놀이기구 키 제한

In [104]:
height=int(input('키:'))
if height>150:
    print('YES')
else:
    print('NO')

키:195
YES

# 18번 : 평균점수

In [112]:
score=input('점수:').split()

점수:20 30 40

In [120]:
total=0
for i in range(len(score)):
    total+=int(score[i])
print(total//len(score))

30

# 19번 : 제곱을 구하자

In [122]:
number=input('숫자 2개:').split()

숫자 2개:3 2

In [124]:
print(int(number[0])**int(number[1]))

9

# 20번 : 몫과 나머지

In [125]:
number2=input('숫자 2개:').split()

숫자 2개:10 2

In [126]:
a=int(number2[0])//int(number2[1])
b=int(number2[0])%int(number2[1])
print(a,b, sep=' ')

5 0

# 21번 : set은 어떻게 만드나요?

3

# 22번 : 배수인지 확인하기

2

# 23번 : OX문제

X

# 24번 : 대문자로 바꿔주세요!

In [134]:
names=input('이름입력:')
print(names.upper())

이름입력:mary
MARY

# 25번 : 원의 넓이를 구하세요

In [137]:
n=float(input('반지름 길이:'))
print(n*n*3.14)

반지름 길이:7.2
162.7776

# 26번 : 행성문제2

In [140]:
names={'수성':'Mercury','금성':'Venus','지구':'Earth','화성':'Mars','목성':'Jupiter','토성':'Saturn','천왕성':'Uranus','해왕성':'Neptune'}
kor=input('행성이름:')
print(names[kor])

행성이름:수성
Mercury

# 27번 : 딕셔너리 만들기

In [146]:
student=input('이름입력:').split()
studentScore=input('점수:').split()

이름입력:d y
점수:10 20

In [150]:
#dic={student[0]:int(studentScore[0])}
for i in range(len(student)):
    dic[student[i]]=int(studentScore[i])
dic

{'d': 10, 'y': 20}

# 28번 : 2-gram

In [154]:
s='Python'
for i in range(len(s)-1):
    print(s[i]+s[i+1])

Py
yt
th
ho
on

# 29번 : 대문자만 지나가세요

In [156]:
ord('A')

65

In [157]:
ord('B')

66

In [168]:
al=input('알파벳 입력:')

if (ord(al)>=65) & (ord(al)<91):
    print('YES')
else:
    print('NO')

알파벳 입력:a
NO

# 30번 : 문자열 속 문자 찾기

In [170]:
s='pineapple is yummy'
s.find('apple')

4

# 31번 : 파이썬 자료형의 복잡도

시간 복잡도?

# 32번 : 문자열 만들기

In [176]:
s='저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐'
count=0
for i in s:
    if i==" ":
        count+=1
    else:
        pass
print(count+1)

9

# 33번 : 거꾸로 출력하기

In [211]:
nums=input('숫자입력:').split()

숫자입력:10 20 30

In [212]:
for i in nums[::-1]:
    print(i,end=' ')

30 20 10

# 34번 : sort 구현하기

In [187]:
heights=list(map(int,input('숫자입력:').split()))
heights

숫자입력:2 5 3 1 4

[2, 5, 3, 1, 4]

In [195]:
for i in range (len(heights)):
    #작은 애들부터 큰 애들 순서
    if heights[i]<=heights[i+1]:
        pass
    else:
        print('NO')
        break
    #큰 애들부터 작은 애들 순서
    if heights[i]>=heights[i+1]:
        pass
    else:
        print('NO')
        break

NO

# 35번 : Factory함수 사용하기

In [215]:
def one(n):
    def two(p):
        return p**n
    return two

a=one(2)
b=one(3)
c=one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [ ]:
b=one(3)
c=one(4)
print(a(10))
print(b(10))
print(c(10))

# 36번 : 구구단 출력하기

In [3]:
num=int(input('숫자:'))

for i in range(1,10):
    print(num*i,end=" ")

숫자:2
2 4 6 8 10 12 14 16 18

# 37번 : count사용하기

In [19]:
names=input("이름: ").split()

이름: 원영 원영 은비 은비 은비 채연

In [61]:
import collections
c=collections.Counter(names)
q=dict(c)
print(q)

{'원영': 2, '은비': 3, '채연': 1}

'채연'

In [69]:
for key,value in q.items():
    if max(q.values())==value:
        print(key,"가 총",value,"표를 받았습니다")

은비 가 총 3 표를 받았습니다

# 38번 : 호준이의 아르바이트

In [133]:
scores=list(map(int,input("점수:").split()))

점수:97 86 75 66 55 97 85 97 97 95

In [134]:
scores

[97, 86, 75, 66, 55, 97, 85, 97, 97, 95]

In [138]:
c=collections.Counter(scores)
q=dict(c)

d1=sorted(q.items(),reverse=True)
d2=dict(d1)

d3=sorted(q.keys(),reverse=True)
d3

[97, 95, 86, 85, 75, 66, 55]

In [140]:
candy=0
for key,value in d2.items():
    candy+=value
    if key==d3[2]:
        break
print(candy)

6

# 39번 : 오타 수정하기

In [153]:
s="querty"
idx=s.find("q")
s[idx]
for i in s:
    if s[idx]==i:
        new=s.replace(s[idx],'e')
print(new)

euerty

# 40번 : 놀이동산에 가자

In [158]:
lm=list(map(int,input("숫자:").split("\n")))

숫자:2

In [177]:
l=[50,5,20,20,20,20,20]
w=0
for j in l:
    if l[0]==j:
        w+=0
    elif l[1]==j:
        w+=0
    else:
        w+=j
    print(w)

0
0
20
40
60
80
100

# 41번 : 소수판별

In [188]:
n=4
if n>5:
    if (n%2!=0)&(n%3!=0)&(n%5!=0):
        print('Yes')
    else:
        print('No')
else:
    if (n==2)|(n==3)|(n==5):
        print('Yes')
    else:
        print('No')

No

# 42번 : 2020년

In [236]:
sum_days=0
total_days=0
a=5
b=24
for i in range(0,a-1):
    sum_days+=day[i]
total_days=sum_days+b
if total_days%7==0:
    print('수')
elif total_days%7==1:
    print('목')
elif total_days%7==2:
    print('금')
elif total_days%7==3:
    print('토')
elif total_days%7==4:
    print('일')
elif total_days%7==5:
    print('월')
elif total_days%7==6:
    print('화')

일

# 43번 : 10진수를 2진수로

In [1]:
n=13
a=[]
result=[]
while n:
    if n!=0:
        a.append(str(n%2))
        n=int(n//2)
    else:
        break
        
for i in a[::-1]:
    result.append(i)
print(result)

['1', '1', '0', '1']

# 44번 : 각 자리수의 합

In [280]:
n1=3849
n1=str(n1)
total=0
for i in n1:
    total+=int(i)
print(total)

24

# 45번 : time 함수 사용하기

In [284]:
from time import time

time()

1672669850.1963916

In [286]:
from time import localtime

tm = localtime(time())
print("year:", tm.tm_year)

year: 2023

# 46번 : str 자료형의 응용

In [4]:
numbers=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']

In [6]:
newnums=''.join(numbers)

In [9]:
total_sum=0
for i in newnums:
    total_sum+=int(i)
total_sum

102

# 47번 : set자료형의 응용

In [10]:
people=[
    ('이호준','01050442903'),
    ('이호상','01051442904'),
    ('이준호','01050342904'),
    ('이호준','01050442903'),
    ('이준','01050412904'),
    ('이호','01050443904'),
    ('이호준','01050442903')
]

In [19]:
new_set=set(people)
new_set

{('이준', '01050412904'),
 ('이준호', '01050342904'),
 ('이호', '01050443904'),
 ('이호상', '01051442904'),
 ('이호준', '01050442903')}

In [18]:
len(new_set)

5

# 48번 : 대소문자 바꿔서 출력하기

In [25]:
s='AAABBBcccddd'
s2=''
for i in s:
    if i.isupper():
        s2+=i.lower()
    else:
        s2+=i.upper()
print(s2)

aaabbbCCCDDD

# 49번 : 최댓값 구하기

In [30]:
numbs=list(map(int,input('숫자들:').split(' ')))

숫자들:10 9 8

In [31]:
numbs

[10, 9, 8]

In [33]:
max=0
for i in numbs:
    if i>max:
        max=i
print(max)

10

# 50번 : 버블정렬 구현하기

In [34]:
def bubble(n,data):
    for i in range(n-i):#굳이 끝까지 순회를 안돌아도 되니까 n-i까지만 해도됨
        for j in range(n-1):
            if data[j]>data[j+1]:
                data[j],data[j+1]=data[j+1],data[j]
    for i in range(n):
        print(data[i],end=" ")

n=int(input()) #총 몇개
data=list(map(int,input().split()))

bubble(n,data)

5
4 2 3 8 5
2 3 4 5 8